/* .bgground{
    background-color: rgba(251, 255, 0, 0.8);
}
.insidebg{
    background-color: rgba(255, 239, 239, 0.6);
    padding:5%;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
    font-family: Poppins;
    background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
    background-size: cover;
    background-position: center;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 480px) {
     padding: 0.8em;
    }
   }

   div{
    font-family: Poppins;
   }
   a{
    font-family: Poppins;
   }
   h1{
    font-family: Poppins;
   }
   p{
    font-family: Poppins;
   }

   .search-bar {
    height: 40px;
    display: flex;
    width: 100%;
    max-width: 400px;
    padding-left: 16px;
    border-radius: 4px;
    
   }